/* Flow */
.flow {
	--flow-space: 1em;
}

.flow>*+* {
	margin-top: var(--flow-space);
}

/* Disable User Select */
.no-select {
	user-select: none;
	cursor: default;
}

/* headings */
h1 {
	font-size: 1.4em;
	font-weight: 700;
}

h2 {
	font-size: 1.1em;
	font-weight: 500;
}

h3 {
	font-size: 1em;
	font-weight: 500;
}

/* wrappers */
.wrapper {
	--content-max-width: 1160px;
	--gutter: 2rem;

	width: min(var(--content-max-width), 100% - var(--gutter) * 2);
	margin-inline: auto;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
	min-height: 5px;
	height: 5px;
	min-width: 5px;
	width: 5px;
}

::-webkit-scrollbar-track {
	border-radius: 1000vw;
	background-color: var(--color-dark-100)
}

::-webkit-scrollbar-thumb {
	border-radius: 1000vw;
	background-color: hwb(0 74% 26%)
}

/* Utility */
.hidden {
	visibility: hidden;
	opacity: 0;
}

.disabled {
	opacity: 0.6;
	pointer-events: none;
	cursor: default;
}